.App {
  
  font-size: larger;
  font-family: Helvetica, sans-serif;
  background-image: linear-gradient(lightblue, white);
}
.maindiv{
  padding-top: 1%;
  padding-left: 10%;
  width: 60%;
  ;
  
}

h1 {
  padding: 20px;
}

ul {
  display: block;
  list-style-type: none;
  padding: 2em;

}

