.App {
  text-align: center;
  font-size: larger;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(lightblue, white);
}
.maindiv{
  padding-top: 1em;
  padding-left: 10em;
  padding-right: 10em;
}

h1 {
  padding: 20px;
}

ul {
  display: block;
  list-style-type: none;
  padding-left: 0em;
  padding-top: 2em;
  padding-bottom: 2em;
}

